input {
    width: 180px;
    height: 100px;
    margin: 1px solid white;
    background-color: lightsteelblue;
}

button {
    height: 80px;
    width: 100px;
    background-color: lightcyan;
    text-align: center;
    font-size: 15px;
}